// Specific CSS for your home-page
body {
  margin-bottom: 400 px;
}

.wrapper {
  position: relative;
}

.booking {
  position: absolute;
  top: 450px;
  left: 50px;
}

.renting {
  position: absolute;
  top: 450px;
}

.container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  justify-content: center;
}

.banner {
  background-image: url('hero_1.png');
  background-size: cover;
  height: 600px;
}
