// Specific CSS for your home-page
body {
  margin-bottom: 400 px;
}

.container {
  margin: 0 auto;
  width: 800 px;
  text-align: center;
  justify-content: center;
}

.banner {
  background-image: url('hero_1.png');
  background-size: cover;
  height: 600px;
}
