<div class="banner">
  <h1>Find parking in seconds</h1>
  <div class="buttons">
    <%= link_to "LOOK FOR PARKING", parking_spots_path, class: "button"%>
    <%= link_to "RENT PARKING",  new_parking_spot_path, class: "button"%>
  </div>
</div>
