<div class="navbar">
<div class="navbar-content">
  <ul>
    <li> <%= image_tag "logo1.png", id: "logo"%></li>

  </ul>
<ul>
  <li>HOME</li>
  <li>ABOUT</li>
  <li>SERVICES</li>
  <li>CONTACT US</li>
  <li>HAPPY CLIENTS</li>
</ul>
</div>
</div>
