<%= render "shared/banner" %>
<%# ------------------------------- %>
<%#start cards %>
<div class="cards">
<h2 id="carddiv-header">How it works?</h2>
 <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="  https://images.unsplash.com/photo-1541443131876-44b03de101c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTkyfDYxMDY1MHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60
" alt="beach" />
    </div>
    <div class='home-card'>
    <div class="card-title">
      <a href="#">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
      Search the perfect parking spot
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       <p>First use our fabulous search bar to find the best parking spot in your area.</p>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">SEARCH</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://images.unsplash.com/photo-1572739524530-5e9d4df3112b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTYxfDYxMDY1MHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" alt="beach" />
    </div>
    <div class='home-card'>
    <div class="card-title">
      <a href="#">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
      Book the parking
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        <p>Choose the dates and time that you need to park and book your next parking space</p>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn"> BOOK NOW!</a>
        </div>
      </div>
      </div>
    </div>
  </div>
 <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://images.unsplash.com/photo-1532439771208-8fda693b96b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTUwfDYxMDY1MHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" alt="beach" />
    </div>
    <div class='home-card'>
    <div class="card-title">
      <a href="#">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
      Park your car!
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        <p>You know what to do</p>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn"> PARKING TUTORIALS</a>
        </div>
      </div>
      </div>
    </div>
  </div>









</div>
