<div class="banner">
  <div class="container wrapper">
    <%= link_to "Look for parking", parking_spots_path, class: "button booking"%>
    <%= link_to "Rent parking",  new_parking_spot_path, class: "button renting"%>
  </div>
</div>
