<div class="banner">
  <div class="container">
    <%= link_to "Look for parking", parking_spots_path, class: "button"%>
    <%= link_to "Rent parking",  new_parking_spot_path, class: "button"%>
  </div>
</div>
