<h1>Our Parking-Spots</h1>

<div class='card-wrapper'>
  <% @parking_spots.each do |parking| %>
    <div class='card-park'>
      <img src='https://media.istockphoto.com/photos/blank-sign-for-parking-place-revised-picture-id1306035095?s=612x612' alt='parking-image'>
        <div class='card-park-infos'>
          <div>
            <h2><%= link_to parking.title, parking_spot_path(parking) %></h2>
            <p><%= parking.description %></p>
          </div>
      </div>
        <span class='card-park-pricing'><%= parking.price_per_hour %> </span>
    </div>
  <% end %>
</div>
