<h1><%= @parking_spot.title %></h1>

<%= cl_image_tag @parking_spot.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Back to overview", parking_spots_path %>
<%if @parking_spot.user == current_user %>
<%= link_to 'Delete', parking_spot_path(@parking_spot), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
