.button {
  background-color: #e4ebf215;
  border: 2px solid #e60a0a;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  margin-right: 20px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-family: 'Raleway', sans-serif;
  padding: 14px 25px;
  border-radius: 1px;
  &:hover{
    color: #000;
  }

}

.button-nav {
  background-color: #e4ebf215;
  border: 2px solid #DBE9EE;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  margin-right: 20px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-family: 'Raleway', sans-serif;
  padding: 14px 25px;
  border-radius: 1px;
  &:hover{
    color: #000;
  }

}
