// .navbar-default {
//   background: #fff;
//   border: none;
//   width: 100%;
//   margin-bottom: 0;
//   position: absolute;
//   top: 0;
//   border-bottom: 2px solid #f0f0f0;
// }
// .navbar-default {
//   background-color: #f8f8f8;
//   border-color: #e7e7e7;
// }
.navbar {
  background: #fff;
  border: none;
  width: 100%;
}

.navbar-content {
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  width: 100%;
  align-items: center;
  padding: 0px 65px;
  font-family: "Raleway", sans-serif;
  color: #737272;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-shadow: #000000;
}
// .navbar-content :hover{
//   color: #e60a0a;

// }


li {
  display: inline;
  margin: 15px;
}

ul {
  margin-right: 55px;
}

#logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
a {
  background-color: transparent;
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
}
.bt--primary,
.bt-primary,
.c-button--primary.bt-primary {
  background-color: #e60a0a;
  background-position: 1em 50%;
  background-repeat: no-repeat;
  border: 0 #000000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  line-height: 3;
  transition: background-color 0.2s linear;
  width: 100%;
  padding: 15px 40px;
  height: fit-content;
}

#sign_up {
  border: 1px solid #e60a0a;
  padding: 15px;
}

.bt--primary > a {
  color: #ffffff;
  font-size: 15px;
}

#sign_up {
  color: #737272;
}
